<!-- <div *ngIf="dataLoaded == false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true"  class="table">
  <thead>
    <tr class="table-primary">
      <th>Brand Id</th>
      <th>Brand Name</th>
    </tr>
  </thead>
  <tr *ngFor="let b of brands">
    <td>{{ b.brandId }}</td>
    <td>{{ b.brandName }}</td>
  </tr>
</table> -->
<ul class="list-group">
  <li [class]="getAllBrandClass()" (click)="setAllBrand()" routerLink="/cars">Tüm Markalar</li>
  <li routerLink="/cars/brands/{{brand.brandId}}" *ngFor="let brand of brands" (click)="setCurrentBrand(brand)" [class]="getCurrentBrandClass(brand)">
    {{ brand.brandName }}
  </li>
</ul>

<h5 class="brand mt-2" *ngIf="currentBrand">{{ currentBrand.brandName }} Seçtiniz</h5>
