<table class="table mt-2">
  <thead>
    <tr class="table-primary">
      <th>Car Id</th>
      <th>Brand Id</th>
      <th>Model Year</th>
      <th>Description</th>
      <th>Daily Price</th>
    </tr>
  </thead>

  <!-- data-bs-toggle="modal"
    data-bs-target="#carImageModal" -->
  <tr
    *ngFor="let car of cars"
    (click)="getCarDetailByCarId(car.id)"
    routerLink="/cars/carimages/{{car.id}}"
  >
    <td>{{ car.id }}</td>
    <td>{{ car.brandId }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.description }}</td>
    <td>{{ car.dailyPrice }}</td>
  </tr>
</table>
